* {
    margin: 0;
    padding: 0;
}

:root {
    /* css custom properties */
    --primary-links: #4d1d18;
    --primary-hover: #555555;
    --major-headings: #87423c;
    --sub-heading: #4d1d18;
    --line-height: 150%;
    --footer-text: #87423c;
    --footer-links: #87423c;
  }
  
.body {
    font-family: calibri, helvetica, sans-serif;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: rgb(88, 32, 22);
    min-height: 4rem;
  }

.logo {
    margin: 0.5em;
    max-width: 400px;
}

.main-nav {
    display: flex;
    flex-direction: row;
}

.main-nav a {
    padding: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: lightgrey;
}

.main-nav a:hover {
    color: white;
    background-color: #555555;
    transition: 0.6s ease;
    text-decoration: underline;
}

/* style sheet for the banner */

.banner {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("../images/ocean_beach3.jpg");
    width: 100%;
    background-size: cover;
}

.banner-text {
    display: flex;
    padding: 10%;
}

.banner-text-items {
    color: white;
    margin: auto;
    text-align: center;
    width: 50%;
}

.banner-text-items h1 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.banner-text-items p {
    font-size: 18px;
}

.banner-button {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn {
    border: 1px solid white;
    padding: 10px 30px;
    color:lightgrey;
    text-decoration: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: #555555;
    color: white;
    transition: 0.6s ease;
}

/* Appartment content */

.content {
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 2em;
    padding: 3%;
}
.card{
    color: #555555;
}

.card h4 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
} 

/* contact-form */
.contact-form {
    max-width: 350px;
    margin: auto;
    padding-top: 45px;
}

.contact-form input {
    display: block;
    width: 100%;
}

.contact-form label {
    font-weight: bold;
    margin: 14px;
    display: block;
    color: #4d1d18;
}

/* footer */